body {
  font-family: 'Segoe UI', sans-serif;
}

/* styles.css or App.css */
.nav-link:hover {
  color: #0d6efd !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}


.board-card {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
}

.board-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.board-card .btn {
  font-weight: 500;
}


.avatars-stack {
  display: flex;
}
.avatars-stack .avatar {
  margin-inline-end: calc(-.4 * 2rem);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
  vertical-align: middle;
  border-radius: 50em;
  transition: margin .15s;
}
.avatars-stack .avatar-img {
  width: 100%;
  height: auto;
  border-radius: 50em;
}
.avatars-stack .avatar:hover {
    -webkit-margin-end: 0;
    margin-inline-end: 0;
}
.avatar.selected {
  border: 2px solid #000;
  /* box-shadow: 0 0 0 2px #b4aeae; */
  /* z-index: 9999; */
}

/* bootstrap form control input field override */
.form-control:focus {
  background-color: none;
  box-shadow: none;
}