.boardCard {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
}

.boardCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.boardCard .btn {
  font-weight: 500;
}
