.card__custom {
  justify-content: space-between;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card__title {
  font-weight: bold;
  font-size: 14px;
}

.card__action {
  cursor: pointer;
}

.card__desc {
  color: gray;
  font-size: 12px;
}
.card__footer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.card__action-footer {
  width: 24px;
  height: 24px;
  background: #dbd8d8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
}
